<div fxLayout="column" class="todo-list" fxLayoutGap="20px" cdkDropList (cdkDropListDropped)="drop($event)">
  <div fxLayout>
    <div fxFlex="5"></div>
    <div fxFlex="45" class="primary">Task</div>
    <div [fxFlex]="header.labelFlex" (click)="sort(header)" fxLayoutGap="8px" fxLayout class="primary" *ngFor="let header of headers">
      <div>{{header.name}}</div>
      <div class="arrow-container" >
        <div class="arrow-up arrow" [class.active]="header.sortDirection==='asc'">

        </div>
        <div class="arrow-down arrow" [class.active]="header.sortDirection==='desc'">

        </div>
      </div>
    
    
    </div>
    <!-- <div fxFlex="15" fxLayoutGap="8px" fxLayout class="primary">
      <div>Delivery</div>
      <div class="arrow-container" >
        <div class="arrow-up arrow" (click)="sort(header)">

        </div>
        <div class="arrow-down arrow"(click)="sort(header)">

        </div>
      </div>
    </div>
    <div fxFlex="10" fxLayoutGap="8px" fxLayout class="primary">
      <div>Status</div>
      <div class="arrow-container" >
        <div class="arrow-up arrow"(click)="sort(header)">
        </div>
        <div class="arrow-down arrow"(click)="sort(header)">

        </div>
      </div>
    </div> -->



  </div>
  <mat-card *ngFor="let list of lists; let i = index" cdkDrag>
    <mat-card-content fxLayout>
      <div  cdkDragHandle fxFlex="5" fxLayout.lt-sm="column">
        <img src="assets/images/baseline_drag_indicator_black_18dp.png" class="delete-image">
      </div>
      <div fxFlex="45"> {{list.task}}</div>
      <div fxFlex="15"> {{list.createdDate|dateAgo}}</div>
      <div fxFlex="15"> {{list.delivery}}</div>
      <div fxFlex="10" fxLayout.lt-sm="column">
        <select [(ngModel)]="list.status" class="status-select">
          <option [value]="sts.value" *ngFor="let sts of statusList">{{sts.display}}</option>
        </select>
      </div>
      <div fxFlex="10" fxLayout.lt-sm="column">
        <img src="assets/images/baseline_delete_outline_black_18dp.png" class="delete-image" (click)="deleteImage(i)">
      </div>

    </mat-card-content>
  </mat-card>
</div>
