.todo-form
{
    margin: 10px auto;
}
.todo-task
{
    width: 100%;

    border-radius: 4px 0px 0px 4px;
}
.todo-btn
{
    background: transparent;
    border: 1px solid grey;
    padding: 8px;
}
.todo-delivery
{
    border-radius: 0 4px 4px 0px
}
